.home-title {
    font-size: 36px; /* Tamanho da fonte, ajuste conforme necessário */
    font-weight: bold; /* Negrito para o título */
    color: #333; /* Cor do texto, ajuste conforme necessário */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.home-subtitle {
    font-size: 24px; /* Tamanho da fonte, ajuste conforme necessário */
    font-weight: normal; /* Peso normal para o subtítulo */
    color: #666; /* Cor do texto, ajuste conforme necessário */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento inferior */
}


.home-buttons-container {
    display: flex;
    justify-content: center; /* Centraliza a div horizontalmente */
    width: 100%; /* Ocupa a largura total do contêiner pai */
}

.home-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaço entre os botões, ajuste conforme necessário */
    width: 400px; /* Largura fixa de 400px */
    padding: 20px; /* Espaço interno, ajuste conforme necessário */
}

.home-buttons button {
    width: 100%; /* Para garantir que os botões ocupem toda a largura da célula */
}
